<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.5" name="hello">
    <main-class name="hello.Hello"/>

    <resources>
        <resource-root path="hello.jar"/>
    </resources>
    
    <dependencies>
      <module name="api"/>
      <module name="org.jboss.modules"/>
      <module name="provider" services="import"/>
    </dependencies>
</module>
