# Compiled class file
*.class
min-server-graal-agent2/
min-server2/
jboss-modules/
build-image.sh
# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
ModuleLauncher-1.0-SNAPSHOT
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/hello/target/
/module-launcher/target/
launcher.Launcher
hellomodule
/provider/target/
/api/target/
/simple-modules/module-launcher/target/
/simple-modules/hello/target/
/simple-modules/api/target/
/simple-modules/provider/target/
