<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright The WildFly Authors
  ~ SPDX-License-Identifier: Apache-2.0
  -->
<module name="deployment.helloworld.war" xmlns="urn:jboss:module:1.9">

    <resources>
        <resource-root path="WEB-INF/classes"/>
    </resources>

    <dependencies>
        <!-- for java.beans -->
        <module name="org.glassfish.javax.el"/>
        <module name="jakarta.websocket.api"/>
        <module name="io.undertow.jsp"/>
        <module name="jakarta.servlet.jstl.api"/>
        <module name="io.undertow.servlet"/>
        <module name="org.wildfly.security.elytron"/>
        <module name="jakarta.servlet.api"/>
    </dependencies>
</module>
