<!--
~ Copyright The WildFly Authors
~ SPDX-License-Identifier: Apache-2.0
~
-->
<!-- TODO Rename this module to something matching your chosen subsystem name -->
<module xmlns="urn:jboss:module:1.9" name="provider">
  <resources>
    <resource-root path="provider.jar"/>
  </resources>
  <dependencies>
    <module name="api"/>
  </dependencies>
  <provides>
    <service name="api.Provider">
      <with-class name="provider.ProviderImpl"/>
    </service>
  </provides>
</module>